
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- stylesheet -->
  <link rel="stylesheet" href="styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:300,400|Ubuntu:300,400" rel="stylesheet">
  <title>Sign In - Photo Collective</title>
  <!-- scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
	<h1>Log In</h1>
	<form id="login-form">
    <input id="email-input" type="text" name="email" class="form-control" placeholder="Email" autofocus>
    <input id="password-input" type="password" name="password" class="form-control" placeholder="Password">
    <input type="submit" value="Log In" class="login btn btn-primary">
    <a href="/signup">Sign Up</a>
    </form>
</body>
</html>