<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="styles/upload.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:300,400|Ubuntu:300,400" rel="stylesheet">
  <title>Photo Collective</title>
  <!-- scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script type="text/javascript" src="/scripts/post.js"></script>
</head>
<header>
  <a href="/"><img id="logo" src="images/logo-white.png" alt=""></a>
  <nav id="projectNav">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</header>
<body>  
  <section class="container">
    <h3>Upload an image</h3>
    <%= typeof msg != 'undefined' ? msg : '' %>
    <form id="imageForm" action="/upload" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn blue-grey lighten-3">
          <span>File</span>
          <input name="myImage" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <button id="create" type="submit" class="blue-grey darken-1 btn">Submit</button>
    </form>
    <br>
    <h5>or...</h5>
    <br>
    <h2>Share a story!</h2>
    <div class="row">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form class="form-inline" id="newPostForm" name="input">
            <div class="form-group">
              <input type="text" class="form-control" name="input" placeholder="ex. My name is Matt Smith and last summer I...">
            </div>
            <button id="storyCreate" type="submit" class="blue-grey darken-1 btn">Submit</button>
          </form>
          <div id='postTarget'>
          </div>
        </div>
      </div>
    </div>
    </div>
    <br>
    <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img" id="imageTarget" alt="">
    <div id="postTarget"></div>
  </section>
  <% include partials/footer.ejs %>
</body>
</html>