<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- stylesheet -->
  <link rel="stylesheet" href="styles/sign-in-up.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:300,400|Ubuntu:300,400" rel="stylesheet">
  <title>Sign Up - Photo Collective</title>
  <!-- scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
    <% include partials/nav.ejs %>
  <h1>Welcome to the Colorado <span>Collective</span></h1>
  <h2>There is no time to be bored in a world as beautiful as this and especially in a state as beautiful as Colorado. The Colorado Collective is a space for those who get out and explore all that Colorado has to offer to share. Stories of that hike over the Maroon Bells, photos your fly fishing trip at Saint Mary's Glacier, advice on where to catch the most amazing sunrises or watch the best sunsets are all welcome. 
  <br><br>
  So what are you waiting for? 
  <br><br>
  Sign up now to join in on sharing your love for our incredible state. </h2>
	<h3>Sign Up</h3>
	<form id="signup-form">
    <label for="email">Your Email:</label>
    <br>
		<input id="email-input" type="text" name="email" class="form-control" placeholder="Email" autofocus>
    <br>
    <label for="password">Password:</label>
    <br>
		<input id="password-input" type="password" name="password" class="form-control" placeholder="Password">
    <br>
		<input type="submit" value="Sign Up" class="submit btn btn-primary">
    <br>
    <h5>Already have an account?</h5>
		<a href="/login">Login</a>
	</form>
  <% include partials/footer.ejs %>
</body>
</html>